body{
    display: flex;
    margin: 0;
    justify-content: center;
}

#div-container{
    border: 3px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 640px;
    max-height: 960px;
}

.div-size{
    box-sizing: border-box;
    width: calc(100% / 16);
    aspect-ratio: 1 / 1
}

.change-back-black{
    background-color: black;
}